.progress {
  height: 25px;
  margin: 10px;
  width: 250px;
  border: 1px solid #000;
  border-radius: 8px;
  position: relative;
  background-color: transparent;
  .content {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }

  &::after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    border-radius: 8px;
    top: 0;
    left: 0;
    right: var(--progress);
    bottom: 0;
    transition: all linear 1s;
    z-index: 0;
    background-image: linear-gradient(to right, #f0faff, #00a3f5);
  }
}
